<div class="jumbotron">
  <h1 style="color:#b80000;">About Us</h1>
  <br/>
  <p> Greetings and welcome to The ArtHaus. </p>
 
  <p> We are your ultimate gateway to finding high-quality local art work to complete the look of your home, apartment and/or residence. After all, we understand that not everyone has the wallet to splash out on 19th century masterpieces.
  </p>

  <p> Quite simply, scroll through the vast array of art work in our marketplace and if you see any pieces that catch your eye, contact the artist and let them know you wish to purchase that piece. Quick, efficient and hassle-free.
  </p>
</div>