<div class="jumbotron">
  <h1>About Us</h1>
  <br/>
  <p> Greetings and welcome to The ArtHaus. </p>

  <p> We are your ultimate gateway to finding high-quality local art work to complete the look of your home, apartment and/or residence. After all, we understand that not everyone has the wallet to splash out on 19th century masterpieces.
  </p>

</div>