<div class="jumbotron">
  <h1 style="color:#b80000;">About Us</h1>
  <h2> Greetings and welcome to The ArtHaus. </h2>
 	<br>
  <p> We are your ultimate gateway to finding high-quality local art work to complete the look of your home/apartment/residence. After all, we understand that not everyone has the wallet to splash out on 19th century masterpieces.
  </p>
	<br>
  <p> To use our system, scroll through the extensive array of art work in our marketplace and if any piece(s) catch(es) your eye, simply contact the artist(s) and let them know of your interest in procuring the piece. Quick, efficient and hassle-free.
  </p>
</div>